{% extends 'home.html' %}
{% load tags %}
{% block content %}

<div class="album py-5 bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img src="{{ product.image | img }}">
                    <div class="card-body">
                        <p class="card-text">Категория: {{ product.category_name }}</p>
                        <p class="card-text">Наименование: {{ product.title }}</p>
                        <p class="card-text">Цена: {{ product.price }}руб.</p>
                        <p class="card-text">Описание: {{ short_description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                    <a href="{% url 'catalog:home' %}" class="btn">Назад</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
