{% extends 'catalog/product_list.html' %}
{% load tags %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"> {{ object.title.capitalize }} </h1>
    </div>
</section>
<div class="album py-5 bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img src="{{ product.image | img }}">
                    <div class="card-body">
                        <p class="card-text">Категория: {{ object.category_name }}</p>
                        <p class="card-text">Наименование: {{ object.title }}</p>
                        <p class="card-text">Цена: {{ object.price }}руб.</p>
                        <p class="card-text">Описание: {{ object.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'catalog:home' %}" class="btn">Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
